<footer class="footer">
    <div class="footerInfo">
        <div class="block__copyright">
            <p> © Copyright 2014 FreebiesXpress.com</p>
        </div>
        <div class="block__contact">
            <a href="https://github.com/MarMilli/">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://vk.com/marinivanov">
                <i class="fa fa-vk" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/chriscoyierdesign">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="tg://resolve?domain=MarineMillionaire">
                <i class="fa fa-telegram" aria-hidden="true"></i>
            </a>
            <a href="https://krasnoyarsk.hh.ru/resume/e9a98408ff056031610039ed1f7456584b5a41">
                <i class="fa fa-header" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>
