<div class="sectionHeader">
    <header class="header">
        <div class="header__block">

        <div class="header__logo">
            <img src="img/MarMilli.png" alt="Сайт резюме">
        </div>
            <div class="bgModalWindow"></div>
        <nav class="menuMain">

            <div class="menuMain__items">
            <ul class="items">
                <li> <a href="#"> Home </a> </li>
                <li> <a href="#services"> Services </a> </li>
                <li> <a href="#portfolio"> Portfolio </a> </li>
                <li> <a href="#about"> About </a> </li>
                <li> <a href="#contact"> Contact </a> </li>
            </ul>
            </div>
            <button type="button" title="Добавить задачу" class="dropdownMenuButton">
            </button>
        </nav>

        </div>

        <div class="header__welcome">
            <p class="subtitle">Welcome To Our Studio!</p>
            <h1>It’s nice to Meet you</h1>
            <a href="#services"> <button type="button">Tell Me More</button></a>
        </div>
    </header>
</div>